// Heading Color
$heading-color: #000000;

// Text Color
$text-color: #9b9b9b;

// Default Background
$bg-default: #40ba37;

// Gray Background
$bg-gray: #f3f5f8;

// White Color
$white-color: #ffffff;

// Dark Color
$dark-color: #141414;

// Border Color
$border-color: #1c8314;

// Hover Color
$hover-color: #40ba37;

// Footer Color
$footer-color: #2d2d2d;

// Secondary Color
$secondary-color: #3c3c3c;

// Text Color
$text-color2: #474747;