:root {
    --primary-color: #333333;
    --secondary-color: #fffcf2;
    --tertiary-color: #919191;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    background-color: var(--primary-color);
    font: bold 2rem 'Open Sans', sans-serif;
    color: var(--secondary-color);
}
::placeholder {
    color: var(--secondary-color);
    opacity: 1;
}
input {
    caret-color: var(--secondary-color);
}

.todo_app {
    display: flex;
    width: 60vw;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    gap: 15px;
}
.todo_list {
    /* background-color: blueviolet; */
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 10px;
}
.todo_item {
    /* background-color: red; */
    display: flex;
    width: 100%;
    height: 60px;
    padding: 5px;
    align-items: center;
    justify-content: space-between;
    box-shadow: 1px 1px 5px var(--secondary-color);
}
.todo_item > div {
    width: 80%;
}

.todo_item:hover {
    cursor: pointer;
    transition: all .5s ease;
    background-color: var(--secondary-color);
    color: var(--primary-color);
}


.todo_item > input[type='text'] {
    border: none;
    width: 80%;
    font: inherit;
}

.todo_item > input[type='button'],
.todo_item > input[type='checkbox'] {
    width: 30px;
    height: 30px;
    font: inherit;
}
.todo_item > input[type='checkbox']:checked + div {
    text-decoration: line-through;
}

.todo_add_item {
    display: flex;
    background-color: var(--tertiary-color);
    width: 100%;
    height: 70px;
    justify-content: space-evenly;
    padding: 10px 0;
    box-shadow: 1px 1px 5px var(--secondary-color);
    margin: 10px;
    font: inherit;
}

.todo_add_item > input {
    background-color: var(--tertiary-color);
    border: none;
    width: 80%;
    outline: none;
    font: inherit;
}

.todo_add_item > input::placeholder {
    font-style: italic;
    font-weight: normal;
}