/*! @import */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    body {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    }
    body::-webkit-scrollbar {
        display: none;
    }
}