@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
}

p {
  margin: 15px 0;
  line-height: 1.8;
}

a {
  text-decoration: none;
  color: #333;
}

img {
  width: 100%;
  border-radius: 10px;
}

header {
  margin-top: 2rem;
  color: #000;
  padding: 2rem;
}

header a {
  color: #000;
}

.container {
  max-width: 768px;
  margin: auto;
  overflow: auto;
  padding: 0 10px;
}

.header {
  display: flex;
  justify-content: space-between;
}
.social-media h2 * {
  margin-left: 0.5rem;
  cursor: pointer;
}

.btn {
  display: inline-block;
  background: steelblue;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}

.btn:focus {
  outline: none;
}

.btn:hover {
  transform: scale(0.98);
}

.btn-back {
  background: #f4f4f4;
  color: #000;
  margin-bottom: 20px;
}

.posts {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 5px;
  gap: 30px;
  margin-top: 30px;
}

.card {
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.card-page {
  padding: 15px 30px;
}

.post-title {
  margin: 10px 0;
}

.post-date {
  background: #f4f4f4;
  margin-bottom: 20px;
  padding: 3px 10px;
}

.post-body ul,
ol {
  font-size: 110%;
  line-height: 2.3;
  font-weight: bold;
  margin: 10px 0;
}

.post-body pre {
  background: #f4f4f4;
  padding: 20px;
  margin: 20px 0;
  line-height: 2.3;
}

@media (max-width: 500px) {
  header {
    display: flex;
    justify-content: center;
  }
  .header {
    display: block;
  }
  code {
    font-size: 0.5rem;
  }
  .posts {
    grid-template-columns: 1fr;
  }
}
