@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
  font-size: 102%;
}

:root {
  --bg-color: #0b0e14;
  --mg-color: #18202e;
  --lg-color: #263550;
  --lfg-color: #3a5781;
  --fg-color: white;
}

$round: 0.5rem;

html,
body {
  width: 100%;
  height: 100%;
  background-color: var(--bg-color);
  color: var(--fg-color);
}

a {
  text-decoration: none;
  font-size: 2rem;
  color: var(--fg-color);
  &:hover {
    color: var(--lfg-color);
  }
}

p {
  line-height: 1.5;
}

.horizontal-padding {
  // max-width: 768px;
  max-width: 1024px;
  margin: auto;
  padding: 1rem;
}

.rounded {
  border-radius: $round;
}

.container {
}

.navbar {
  padding-top: 1rem;
  background-color: var(--mg-color);
}

.home {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.post-card {
  background-color: var(--mg-color);
  padding: 1rem 1.5rem;
  cursor: pointer;
  &:hover {
    background-color: var(--lg-color);
  }
}

.post {
  header {
    background-color: var(--mg-color);

    div {
      padding: 2rem 1rem;
      display: flex;
      justify-content: space-between;
    }
  }

  main {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    p {
      font-size: 1rem;
    }

    pre {
      background-color: var(--mg-color);
      padding: 0.5rem;
      font-size: 1rem;
      line-height: 2;
      letter-spacing: 1px;
      border-radius: $round;
    }

    ul,
    ol {
      line-height: 2;
      font-weight: bold;
      padding: 0.5rem;
    }
  }
}
