*{ margin: 0px; padding: 0px; box-sizing: border-box;}
@-webkit-keyframes swing
{
    15%
    {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30%
    {
        -webkit-transform: translateX(-5px);
       transform: translateX(-5px);
    } 
    50%
    {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65%
    {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80%
    {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
@keyframes swing {
    15%
    {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30%
    {
        -webkit-transform: translateX(-5px);
        transform: translateX(-5px);
    }
    50%
    {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65%
    {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80%
    {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

[data-anime]{
	opacity: 1;
	transition: .3s;
	
}
@-webkit-keyframes fadeIn {
	0% { opacity: 0; }
	100% { opacity: 1; } 
}
@-moz-keyframes fadeIn {
	0% { opacity: 0;}
	100% { opacity: 1; }
}
@-o-keyframes fadeIn {
	0% { opacity: 0; }
	100% { opacity: 1; }
}
@keyframes fadeIn {
	0% { opacity: 0; }
	100% { opacity: 1; }
}
.fadeIn {
	-webkit-animation: fadeIn 2s ease-in-out;
	-moz-animation: fadeIn 2s ease-in-out;
	-o-animation: fadeIn 2s ease-in-out;
	animation: fadeIn 2s ease-in-out;
} 
body{ /* Corpo da página*/ 
	background: #ececec; 
	font-family: Roboto; /*importa do google e precisa colocar no html acima do link do estilo*/ 
} 
#menu{ /* Menu*/ 
	 width: 100%; 
	 height: 100px;
	 border-radius:0px;
	 color: white; 
	 margin: 0 auto;
	 position: fixed;
	 top: 0px;
	 background: rgba(0, 0, 0, 0);
 
}

 
#topo {
	margin-top:0px;
}
#sobreref {
	margin-top: 0px;
}

.center{
	width: 80%;
	height: 60px;
	float: left;
	margin: 0 auto;
}

.center li{ 
	display:block; 
} 
#iconehome{ /* Icones do lado dos <a href> */
	float:left; 
	color: #fff; 
	line-height: 60px; 
	height: 60px; 
	padding: 0px 10px;  
	margin-left:10px; 
	margin-right:30px;
	margin-top:20px;
	
	
}
.center i.left{ /* Icones do lado dos <a href> */
	 float: left; 
	 height: 60px; 
	 line-height: 50px; 
	 margin-right: 5px; 
 } 
#iconehome:hover{ /*Icone grande do pesquisador que aumenta de tamanho quando tu coloca o ponteiro em cima */
	-webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
	
}
#nav { 
	float:left; 
	text-decoration:none; /*tira os marcadores*/ 
	color: #fff; 
	text-transform: uppercase; 
	line-height: 50px; 
	height: 50px; 
	padding: 0px 10px;  
	margin-left:0px;
	margin-top:25px;
	margin-right:30px; 
} 
    
#nav:hover{ /* efeito cor mouse*/ 
	-webkit-animation: swing 1s ease;
    animation: swing 1s ease;
    -webkit-animation-iteration-count: 1;
	animation-iteration-count: 1;
} 		
.slogan{ /*Como se tornar um acadêmico ? */
	font-size: 60px;
	font-family: montserrat;
	color: #ffffff ;
	text-transform: uppercase; 
	margin: 55px;
	margin-top: 150px;
	margin-left:250px;
	width: 720px;
	height: 150px;
}
.subslogan{ /*Atualmente, milhares de pessoas... */
	font-size: 17px;
	font-family: montserrat;
	color:  black;
	margin: 55px;
	margin-top: 85px;
	margin-left:370px;
	text-indent: 30px;
	width: 720px;
	height: 300px;
	
}
.subslogan p { /* Parágrafos do subslogan */
	-webkit-margin-before: 0.5em;
	-webkit-margin-after: 0.5em;
	-webkit-box-shadow: 4px 4px 5px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    4px 4px 5px 0px rgba(50, 50, 50, 0.75);
	box-shadow:         4px 4px 5px 0px rgba(50, 50, 50, 0.75);
	color: white;
	padding:10px;
	background-color:#333333;
	border-radius: 10px;
}
.conteudo p{
	font-family: Times New Roman, sans-serif;
	font-size: 15px;
	text-align:justify;
	padding:10px;
			
}
.entrepag { /* espaço entre páginas */
	width:  100%;
	height: 70px;
	float:left;
	background-color: #333333;
	-webkit-box-shadow: 4px 4px 5px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    4px 4px 5px 0px rgba(50, 50, 50, 0.75);
	 box-shadow:         4px 4px 5px 0px rgba(50, 50, 50, 0.75);
}
.conteudofundo{ /*Primeiro plano de fundo */        
    width:  100%;
	height: 1080px;
	float:left;
	margin-top: 0px;
	background-image: url(../assets/bg1.jpg);
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

}
.conteudofundo2{ /*Segundo plano de fundo*/       
	width:  100%;
	height: 1000px;
	float:left;
	background-image: url(../assets/bg4.jpg);
	background-position: center;
}
.conteudofundo3{ /*Terceiro plano de fundo*/        
	width:  100%;
	height: 1000px;
	float:left;
	background-image: url(../assets/bg5.jpg);
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	z-index: 3;
}
.conteudofundo4{ /*Quarto plano de fundo*/
	width:  100%;
	height: 843px;
	float:left;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size:100%,100%;
	background-image: url(../assets/bg3.jpg);
}
.conteudofundo5{ /*Quarto plano de fundo*/
	width:  100%;
	height: 900px;
	background-repeat: no-repeat;
	float:left;
	background-size:100% 100%;
	background-image: url(../assets/bg6.jpg);
}
.rodape{ /*rodapé da página */
	width:  100%;
	height: 100px;
	float:left;
	background: linear-gradient(145deg, #000000, #333333);
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.rodape p {
	color:white;
	text-align:center;
	line-height:100px;
	font-size: 15px;
	font-family: montserrat;
	
	
}
#sobre { /*texto do sobre*/
	background-color: white ;
	margin: 55px;
	margin-top: 145px;
	width: 60%;
	height: 800px;
	padding:10px;
}
#formacao { /*texto da formação*/
	background-color: white ;
	margin: 55px;
	margin-top: 145px;
	margin-left:38%;
	width: 60%;
	height: 750px;
	padding:10px;
	-webkit-box-shadow: 4px 4px 5px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    4px 4px 5px 0px rgba(50, 50, 50, 0.75);
	box-shadow:         4px 4px 5px 0px rgba(50, 50, 50, 0.75);
}
#carreira { /*texto da carreira*/
	background-color: #333333 ;
	margin-left:10%;
	margin-top: 145px;
	width: 80%;
	height: 600px;
	padding:10px;
	-webkit-box-shadow: 4px 4px 5px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    4px 4px 5px 0px rgba(50, 50, 50, 0.75);
	box-shadow:         4px 4px 5px 0px rgba(50, 50, 50, 0.75);
}
#contato { /*texto do contato*/
	margin-left:10%;
	margin-top: 105px;
	width: 80%;
	height: 600px;
	padding:10px;
	color: white;
	
}
#tit{ /* Título de textos*/
	font-size: 60px;
	font-family: montserrat;
	text-transform: uppercase; 
}
#titw{ /* Título de textos branca*/
	font-size: 60px;
	font-family: montserrat;
	text-transform: uppercase; 
	color:white;
}
#corp1{
	font-size:20px;
	font-family: montserrat;
}
#corp{ /* Corpo de textos*/
	font-size: 15px;
	font-family: montserrat;
	padding: 5px;
}
#corpw{ /* Corpo de textos branca*/
	font-size: 15px;
	font-family: montserrat;
	padding: 5px;
	color:white;
}
#comentario{
	-webkit-box-shadow: 4px 4px 5px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    4px 4px 5px 0px rgba(50, 50, 50, 0.75);
	 box-shadow:         4px 4px 5px 0px rgba(50, 50, 50, 0.75);
}
button {
    display:block;
    width:80px;
    height:26px;
    font-weight:bold;
    color:white;
	background-color:#333;
    border:1px;
	float:left;
	margin-right:3px;
}
button:hover {
	background-color:red;
	
}
input[type=text]{   
	border-radius:4px;
	width:150px;
	border:1px solid #000000;
}
textarea{
	border-radius:4px;
	border:1px solid #000000;
}
input[type=text]:hover, textarea:hover{ 
         background: #fff; border:1px solid red;
}